/* postContents
------------------------------------------------------ */
@use "../abstracts/mixins" as mix;
.postContents {
    padding-top: 80px;
    padding-bottom: 80px;
}
@include mix.large {
    .postContents {
        display: grid;
        padding-top: 100px;
        padding-bottom: 100px;
        grid-template-columns: 590px 1fr;
        gap: 40px;
    }
}