/* 投稿記事 本文
------------------------------------------------------ */
@use "../abstracts/variables" as val;
@use "../abstracts/mixins"as mix;
.postBody {
    &::after {
        display: block;
        clear: both;
        content:"";
    }

    h2 {
        margin-top: 80px;
        padding-bottom: 5px;
        border-bottom: 2px solid val.$cKey1;
        font-size: 24px;
        & + * {
            margin-top: 25px;
        }
        @include mix.medium {
            margin-top: 100px;
            font-size: 30px;
          & + * {
            margin-top: 40px;
            }
        }
    }
    h3 {
        margin-top: 40px;
        padding-left: 20px;
        border-left: 4px solid val.$cKey1;
        font-size: 20px;
        & + * {
            margin-top: 20px;
        }
        @include mix.medium {
            margin-top: 50px;
            font-size: 24px;
            & + * {
                margin-top: 30px;
            }
        }
    }

    h4 {
        margin-top: 30px;
        font-size: 18px;
        & + * {
            margin-top: 15px;
        }
        @include mix.medium {
            margin-top: 40px;
            font-size: 20px;
          & + * {
            margin-top: 20px;
            }
        }
    }

    h5 {
        margin-top: 30px;
        & + * {
            margin-top: 10px;
        }
        @include mix.medium {
            margin-top: 30px;
            font-size: 18px;
          & + * {
            margin-top: 15px;
            }
        }
    }

    h6 {
        margin-top: 30px;
        color: #666;
        & + * {
            margin-top: 10px;
        }
        @include mix.medium {
            margin-top: 30px;
            font-size: 16px;
            & + * {
                margin-top: 10px;
            }
        }
    }

    ul {
        padding: 0;
        list-style: none;
        >li {
            position: relative;
            margin-top: 1.5em;
            padding-left: 1em;
            &::before {
                display: block;
                position: absolute;
                top: 0.75em;
                left: 0;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: #F5A623;
                content: "";
            }
        }
    }

    ol {
        padding: 0;
        list-style: none;
        >li {
            margin-top: 1.5em;
            margin-left: 1em;
            list-style-type: decimal;
        }
    }

    table {
        width: 100%;
        margin-top: 1.5em;
        th {
            padding: 20px;
            border: 1px solid #707070;
            background: #dddddd;
            font-weight: bold;
            text-align: left;
            vertical-align: middle;
        }
        td {
            padding: 20px;
            border: 1px solid #707070;
            text-align: left;
            vertical-align: middle;
        }
    }
      //モバイルでは全て1カラムセンター寄せ配置
    img.alignnone,
    img.alignleft,
    img.alignright,
    img.aligncenter {
        display: block;
        width: auto;
        max-width: 100%;
        height: auto;
        margin-right: auto;
        margin-left: auto;
        overflow: hidden;
    }


    @include mix.medium {
        img.alignnone {
            margin-left: 0;
        }
        img.alignleft { //画像左配置：回り込み
            max-width: 380px;
            margin-right: 20px;
            margin-bottom: 10px;
            float: left;
        }
        img.alignright { //画像右配置：回り込み
            max-width: 380px;
            margin-bottom: 10px;
            margin-left: 10px;
            float: right;
        }
    }

}