/* 料金システム
------------------------------------------------------ */
@use "../abstracts/variables.scss" as val;
.priceList {
    display: grid;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    overflow-x: auto;
    &__item {
        flex-shrink: 0;
        width: calc((277/1170)*100%);
        min-width: 277px;
        border: 1px solid #000000;
    }
    &__box {
        text-align: center;
    }
    &__heading {
        padding: 10px;
        background-color: #FFA56E;
    }
    &__title {
        color: val.$cWhite;
        font-size: 24px;
    }
    &__price {
        margin-top: 40px;
        font-size: 28px;
        font-weight: bold;
        text-align: center;
    }
    &__body {
        height: 320px;
        padding: 0 20px;
        border-top: 1px solid #000000;
        background-color: val.$cWhite;
    }
    &__text {
        margin-top: 36px;
        font-size: 12px;
        line-height: 2;
    }
}