/* スクロールダウン
------------------------------------------------------ */
@use "../abstracts/variables" as val;
@use "../abstracts/mixins" as mixin;
.scrollDown {
    position: absolute;
    bottom: 0;
    left: 5%;
    & span {
        position: absolute;
        left: 10px;
        bottom: 10px;
        color: val.$cText;
        font-size: 0.8em;
        letter-spacing: 0.05em;
        writing-mode: vertical-rl;
    }
    //円
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: -4px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: val.$cText;
        animation:
        circle-move 1.6s ease-in-out infinite,
        cirle-move-hide 1.6s ease-out infinite;
    }
    //縦線
    &::after {
        content:"";
        position: absolute;
        bottom:0;
        left:0;
        width:2px;
        height: 50px;
        background-color: val.$cText;
    }
}

@keyframes circle-move {
    0% {
        bottom:45px;
    }
    100% {
        bottom:-5px;
    }
}

@keyframes cirle-move-hide {
    0% {
        opacity:0
    }
    50% {
        opacity:1;
    }
    80% {
        opacity:0.9;
    }
    100% {
        opacity:0;
    }
}