/* タグ
------------------------------------------------------ */
.tag {
  display: inline-block;
  min-width: 92px;
  padding: 4px 10px;
  background: #381E00;
  color: #fff;
  font-size: 12px;
  line-height: 1;
  text-align: center;
}