/* フッター
------------------------------------------------------ */
@use "../abstracts/variables.scss" as val;
@use "../abstracts/mixins.scss" as mix;
.footer {
    background-color: val.$cKey2;
    text-align: center;
    &__inner {
        max-width: val.$widthLg;
        height: 100%;
        margin: auto;
        padding-top: 40px;
        padding-bottom: 30px;
    }
    &__logo {
        width: 105px;
        height: 60px;
        margin: auto;
    }
    &__menuBox {
        margin-top: 60px;
    }
    &__copyright {
        margin-top: 30px;
        color: val.$cWhite;
        font-size: 12px;
    }
}

@include mix.medium {
    .footer {
        &__copyright {
            margin-top: 80px;
        }
    }
}